.container1{
    background: var(--bg-booking);
    width: 111.5%;
    height: 100vh;
    margin-left: -70px;
    margin-bottom: -30px;
}

.container2{
    background: var(--bg-booking);
    width: 111.5%;
    height: 100%;
    margin-left: -70px;
    padding: 50px 0 400px 0;
}

.cancel-container{
    background: var(--nav-color2);
    margin: auto !important;
    max-width: 500px;
    height: 100vh;
    overflow: hidden;
}

.cancel-header{
    background: white;
    width: 100%;
    height: 100%;
    padding: 0px 20px 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cancel-header p{
    margin-top: 30px;
    font-size: 20px;
    line-height: 1.8;
}

.cancel-header p{
    font-size: 16px;
}



.view-header{
    background: white;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.view-header span{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
}

/* .cancel-span{
    padding-top: 50px
} */

/* .button-click{
    color:white;
    background: white;
} */

.cancel-body{
    background: var(--nav-color4);
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-body{
    background: #e7e9f0;
    height: 100vh;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}

.view-body p{
    align-items: center;
    font-size: 15px;
    margin-left: 50px;
    line-height: 1.8;
}